#playlist_container,
#search_results_container {
    overflow-y: auto;
}

#playlist_container {
    height: 250px;
}

#search_results_container {
    height: 150px;
}

tr.playlist-row[draggable=true] {
    cursor: grab;
}

tr.playlist-row.drag-over {
    box-shadow: 0 10px #007bff;
}

#playlist_card .table,
#search_container .table {
    table-layout: fixed;
}

#playlist_card .table th:nth-child(1),
#playlist_card .table td:nth-child(1),
#playlist_card .table th:nth-child(2),
#playlist_card .table td:nth-child(2),
#playlist_card .table th:nth-child(3),
#playlist_card .table td:nth-child(3),
#playlist_card .table th:nth-child(4),
#playlist_card .table td:nth-child(4),
#search_container .table th:nth-child(1),
#search_container .table td:nth-child(1),
#search_container .table th:nth-child(2),
#search_container .table td:nth-child(2),
#search_container .table th:nth-child(3),
#search_container .table td:nth-child(3),
#search_container .table th:nth-child(4),
#search_container .table td:nth-child(4) {
    width: 15%;
}

#playlist_card .table th:nth-child(5),
#playlist_card .table td:nth-child(5),
#search_container .table th:nth-child(5),
#search_container .table td:nth-child(5) {
    width: 6%;
}

#playlist_card .table th:nth-child(6),
#playlist_card .table td:nth-child(6),
#search_container .table th:nth-child(6),
#search_container .table td:nth-child(6) {
    width: 24%;
}

#playlist_card .table th:nth-child(7),
#playlist_card .table td:nth-child(7),
#search_container .table th:nth-child(7),
#search_container .table td:nth-child(7) {
    width: 10%;
}
