<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />

        <title>{% if page_title %}{{ page_title }} &ndash; {% endif %}{{ config.PLOAD_NAME }}</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='open-iconic/font/css/open-iconic-bootstrap.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/playlist.css') }}" />
    </head>
    <body{% block bodyattrib %}{% endblock %}>
{% block header %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-2">
            <div class="{% if wide_page %}container-fluid{% else %}container{% endif %}">
                <a class="navbar-brand" href="{{ url_for('pload.index') }}">{{ config.PLOAD_NAME }}</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#admin-top-navbar" aria-controls="admin-top-navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="admin-top-navbar">
                    <ul class="nav navbar-nav">
                        {% block nav_index %}<li class="nav-item"><a class="nav-link" href="{{ url_for('pload.index') }}">Scheduled Playlists</a></li>{% endblock %}
                        {% block nav_upload %}<li class="nav-item"><a class="nav-link" href="{{ url_for('pload.upload') }}">Upload</a></li>{% endblock %}
                    </ul>
                </div>
            </div>
        </nav>
{% endblock %}

<div class="container">
    {% for msg in get_flashed_messages() %}
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ msg }}
    </div>
    {% endfor %}
</div>

<div class="container-fluid">
{% block content %}
{% endblock %}
</div>

{% block js %}
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
{% endblock %}
    </body>
</html>
