{% extends "base.html" %}
{% block nav_create %}<li class="nav-item"><a class="nav-link active" href="{{ url_for('pload.create_playlist') }}">Create Playlist</a></li>{% endblock %}
{% block content %}
<div class="container">
<h1>Create Playlist</h1>

<form method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <div class="form-group row{% if form.queue.errors|length > 0 %} has-error{% endif %}">
        {{ form.queue.label(class_="col-sm-3 col-form-label control-label") }}
        <div class="col-sm-9">
            {{ form.queue }}
{% for error in form.queue.errors %}
            <div class="help-block">{{ error }}</div>
{% endfor %}
        </div>
    </div>

    <div class="form-group row{% if form.date.errors|length > 0 %} has-error{% endif %}">
        {{ form.date.label(class_="col-sm-3 col-form-label control-label") }}
        <div class="col-sm-9">
            {{ form.date }}
{% for error in form.date.errors %}
            <div class="help-block">{{ error }}</div>
{% endfor %}
        </div>
    </div>

    <div class="form-group row{% if form.time_start.errors|length > 0 %} has-error{% endif %}">
        {{ form.time_start.label(class_="col-sm-3 col-form-label control-label") }}
        <div class="col-sm-9">
            {{ form.time_start }}
{% for error in form.time_start.errors %}
            <div class="help-block">{{ error }}</div>
{% endfor %}
        </div>
    </div>

    <div class="form-group row{% if form.time_end.errors|length > 0 %} has-error{% endif %}">
        {{ form.time_end.label(class_="col-sm-3 col-form-label control-label") }}
        <div class="col-sm-9">
            {{ form.time_end }}
{% for error in form.time_end.errors %}
            <div class="help-block">{{ error }}</div>
{% endfor %}
        </div>
    </div>

    <div class="form-group row{% if form.dj_id.errors|length > 0 %} has-error{% endif %}">
        {{ form.dj_id.label(class_="col-sm-3 col-form-label control-label") }}
        <div class="col-sm-9">
            {{ form.dj_id }}
{% for error in form.dj_id.errors %}
            <div class="help-block">{{ error }}</div>
{% endfor %}
        </div>
    </div>

    <div class="form-group row form-check">
        {{ form.overwrite(class_="form-check-input") }}
        {{ form.overwrite.label(class_="form-check-label") }}
    </div>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">
            Create
        </button>
    </div>
</form>
</div>
{% endblock %}
