{% set return_url = url_for('pload.index') %}
{% extends "playlist_editor.html" %}
{% block js %}
{{ super() }}
<script nonce="{{ script_nonce }}">
var playlistEditor = new PlaylistEditor("{{ url_for('pload.index', _external=True)[:-1] }}");
playlistEditor.displayRewrites = {{ config.TRACK_URL_DISPLAY_REWRITES|tojson }};
playlistEditor.init();
playlistEditor.loadPlaylist({{ tracks|tojson }});

$('#save_changes_btn').on('click', function(ev) {
    $('#save_changes_btn').prop('disabled', true);

    $.ajax({
        url: "{{ url_for('pload.edit_playlist', playlist_id=playlist.id) }}",
        method: "POST",
        dataType: "json",
        data: {
            tracks: playlistEditor.listTracks(),
        },
        success: function(data) {
            if(data['success']) {
                window.location.href = "{{ url_for('pload.index') }}";
            } else {
                if(typeof data['message'] != 'undefined') {
                    alert(data['message']);
                } else {
                    alert("An error occurred while saving the playlist.");
                }

                // highlight tracks that failed, if they are present in the response
                if(typeof data['results'] == 'object') {
                    for(let i = 0; i < data['results'].length; i++) {
                        let row = $('#playlist tr[data-playlist-id=' + i + ']');
                        if(typeof row != 'undefined') {
                            row.addClass('table-danger');
                            row.attr('title', "An error occurred with this track. Please double check it and try again.");
                        }
                    }
                }
            }

            $('#save_changes_btn').prop('disabled', false);
        },
        error: function(data) {
            alert("An error occurred while saving the playlist.");
            $('#save_changes_btn').prop('disabled', false);
        },
    });
});
</script>
{% endblock %}
