{% extends "base.html" %}
{% block nav_index %}<li class="nav-item"><a class="nav-link active" href="{{ url_for('pload.index') }}">Scheduled Playlists</a></li>{% endblock %}
{% block content %}
<div class="container">
<h1>Scheduled Playlists</h1>

{% for date, playlists in playlist_groups.items() %}
<div class="card mt-1">
    <div class="card-header">
        {{ date|datetime("%Y-%m-%d", False) }}
    </div>

    <table class="table table-striped table-hover">
        <thead>
            <th scope="col" width="25%"></th>
            <th scope="col" width="40%">DJ</th>
            <th scope="col" width="10%">Tracks</th>
            <th scope="col" width="10%">Start Time</th>
            <th scope="col" width="10%">End Time</th>
            <th scope="col" width="5%"></th>
        </thead>
        <tbody>
{% for playlist in playlists %}
            <tr>
                <td>{% if playlist.queue != "prerecorded" %}Playlist{% else %}Prerecorded Show{% endif %}</td>
                <td>{{ playlist.dj }}</td>
                <td>{{ playlist.track_count }}</td>
                <td>{{ playlist.timeslot_start|datetime("%H:%M", False) }}</td>
                <td>{{ playlist.timeslot_end|datetime("%H:%M", False) }}</td>
                <td>
                    <a href="{{ url_for('pload.edit_playlist', playlist_id=playlist.id) }}" class="btn btn-secondary btn-sm playlist-edit" title="Edit this playlist"><span class="oi oi-pencil"></span></button>
                    {# TODO: delete playlist #}
                </td>
            </tr>
{% endfor %}
        </tbody>
    </table>
</div>
{% endfor %}
{% endblock %}
