{% set wide_page = true %}
{% extends "base.html" %}
{% block content %}
<h1>{% if playlist_editor_title %}{{ playlist_editor_title }}{% else %}Playlist Editor{% endif %}</h1>

<div class="card mt-1" id="playlist_card">
    <div class="card-body">
        <div class="float-right">
            {% if return_url %}<a href="{{ return_url }}" class="btn btn-secondary">Cancel</a>{% endif %}
            <button type="button" id="save_changes_btn" class="btn btn-primary">{% if save_changes_btn_label %}{{ save_changes_btn_label }}{% else %}Save Changes{% endif %}</button>
        </div>
        <h5 class="card-title">{% if playlist.queue == "prerecorded" %}Prerecorded Show{% else %}Playlist{% endif %}</h5>
        <p class="card-text">Scheduled to play between {{ playlist.timeslot_start|datetime }} and {{ playlist.timeslot_end|datetime }}.</p>
    </div>

    <table class="table table-condensed mb-0">
        <thead>
            <tr>
                <th>Artist</th>
                <th>Title</th>
                <th>Album</th>
                <th>Label</th>
                <th>URL</th>
                <th></th>
            </tr>
        </thead>
    </table>
    <div id="playlist_container">
        <table class="table table-condensed table-striped table-hover" id="playlist">
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<div class="card mt-1" id="search_container">
    <div class="card-body">
        <form id="playlist_form">
            <div class="form-group row">
                <div class="col-sm-10">
                    <input type="text" name="url" id="url" value="" class="form-control" placeholder="URL" title="URL"/>
                </div>
                <div class="col-sm-1">
                    <button type="button" id="add_track" class="btn btn-primary">
                        <span class="oi oi-plus"></span>
                        Add
                    </button>
                </div>
            </div>
        </form>

        <form id="playlist_search_form">
            <div class="form-group row">
                <div class="col-sm-10">
                    <input type="text" name="q" id="q" value="" class="form-control" title="Search Query"/>
                </div>
                <div class="col-sm-1">
                    <button type="button" id="search_tracks_btn" class="btn btn-secondary">
                        <span class="oi oi-magnifying-glass"></span>
                        Search
                    </button>
                </div>
            </div>
        </form>

        <table class='table table-condensed mb-0'>
            <thead title="These are your track search results. When you enter a query above, results will appear here.">
                <tr>
                    <th>Artist</th>
                    <th>Title</th>
                    <th>Album</th>
                    <th>Label</th>
                    <th>URL</th>
                    <th></th>
                </tr>
            </thead>
        </table>

        <div id="search_results_container">
            <table class='table table-condensed table-striped table-hover mb-0' id="search_results">
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
{{ super() }}
<script src="{{ url_for('static', filename='js/playlist_editor.js', v=2) }}"></script>
{% endblock %}
