{% set wide_page = true %}
{% extends "base.html" %}
{% block content %}
<h1>{% if playlist_editor_title %}{{ playlist_editor_title }}{% else %}Playlist Editor{% endif %}</h1>

<div class="floating-alerts" id="playlist_alerts"></div>

<div class="card mt-1" id="playlist_card">
    <div class="card-body">
        <div class="float-right">
            {% if return_url %}<a href="{{ return_url }}" class="btn btn-secondary">Cancel</a>{% endif %}
            <button type="button" id="save_changes_btn" class="btn btn-primary">{% if save_changes_btn_label %}{{ save_changes_btn_label }}{% else %}Save Changes{% endif %}</button>
        </div>
        <h5 class="card-title">{% if playlist.queue == "prerecorded" %}Prerecorded Show{% else %}Playlist{% endif %}</h5>
        <p class="card-text">Scheduled to play between {{ playlist.timeslot_start|datetime }} and {{ playlist.timeslot_end|datetime }}.</p>
    </div>

    <table class="table table-condensed mb-0" id="playlist_header">
        <thead>
            <tr>
                <th>Offset</th>
                <th>Artist</th>
                <th>Title</th>
                <th>Album</th>
                <th>Label</th>
                <th>Length</th>
                <th></th>
            </tr>
        </thead>
    </table>
    <div id="playlist_container">
        <table class="table table-condensed table-striped table-hover" id="playlist">
            <colgroup>
                <col class="offset"></col>
                <col class="artist"></col>
                <col class="title"></col>
                <col class="album"></col>
                <col class="label"></col>
                <col class="length"></col>
                <col></col>
            </colgroup>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<div class="card mt-1" id="search_container">
    <div class="card-body">
        <form id="playlist_search_form">
            <div class="form-group d-flex mb-0">
                <div class="flex-grow-1">
                    <input type="text" name="q" id="q" value="" class="form-control" placeholder="Search for tracks" title="Enter a query to search for tracks"/>
                </div>
                <div class="pl-2">
                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                        <button type="button" id="search_tracks_btn" class="btn btn-info">
                            <span class="oi oi-magnifying-glass"></span>
                            Search
                        </button>

                        <div class="btn-group" role="group">
                            <button type="button" id="advanced_btn" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Advanced Options</span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labeledby="advanced_btn">
                                <button type="button" id="add_by_url" class="dropdown-item"
                                        data-toggle="modal" data-target="#add_by_url_modal">
                                    Add Track by URL
                                </button>
                                <button type="button" id="import_m3u" class="dropdown-item"
                                        data-toggle="modal" data-target="#import_m3u_modal">
                                    Import M3U
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <table class='table table-condensed mb-0' id="search_results_header">
        <thead title="These are your track search results. When you enter a query above, results will appear here.">
            <tr>
                <th>Artist</th>
                <th>Title</th>
                <th>Album</th>
                <th>Label</th>
                <th>Length</th>
                <th>URL</th>
                <th></th>
            </tr>
        </thead>
    </table>

    <div id="search_results_container">
        <table class='table table-condensed table-striped table-hover mb-0' id="search_results">
            <colgroup>
                <col class="artist"></col>
                <col class="title"></col>
                <col class="album"></col>
                <col class="label"></col>
                <col class="length"></col>
                <col class="url"></col>
                <col></col>
            </colgroup>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<div id="add_by_url_modal" role="dialog" class="modal fade" tabindex="-1"
        aria-labelledby="add_by_url_modal_label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="add_by_url_modal_label">
                    Add Track by URL
                </h4>
                <button type="button" class="close" aria-label="Close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form id="add_by_url_form">
                <div class="modal-body">
                    <p>This URL must be accessible from the WUVT network; local
                    files on your computer will not work.</p>

                    <div class="form-group">
                        <label for="url">URL</label>
                        <input type="text" name="url" id="url" value="" class="form-control"/>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Cancel
                    </button>
                    <button type="submit" id="add_by_url_submit_btn" class="btn btn-primary">
                        Add Track
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="import_m3u_modal" role="dialog" class="modal fade" tabindex="-1"
        aria-labelledby="import_m3u_modal_label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="import_m3u_modal_label">
                    Import M3U
                </h4>
                <button type="button" class="close" aria-label="Close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Upload only .m3u or .m3u8 playlists. Every item in the
                playlist must be a URL that is accessible from the WUVT
                network; local files on your computer will not work.</p>

                <div class="form-group">
                    <label for="import_m3u_input">.m3u (or .m3u8) playlist file</label>
                    <input type="file" class="form-control-file" id="import_m3u_input"/>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal">
                    Cancel
                </button>
                <button id="import_m3u_submit_btn" class="btn btn-primary">
                    Import M3U
                </button>
            </div>
        </div>
    </div>
</div>

<div id="track_info_modal" role="dialog" class="modal fade" tabindex="-1"
        aria-labelledby="track_info_modal_label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="track_info_modal_label">
                    Track Info
                </h4>
                <button type="button" class="close" aria-label="Close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <dl>
                    <dt>URL</dt>
                    <dd><span id="track_info_url_container"></span></dd>
                </dl>

                <dl>
                    <dt>Bit Rate</dt>
                    <dd><span id="track_info_bitrate_container"></span> kbps</dd>
                </dl>

                <dl>
                    <dt>Sample Rate</dt>
                    <dd><span id="track_info_sample_container"></span> kHz</dd>
                </dl>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
{{ super() }}
<script src="{{ url_for('static', filename='js/playlist_editor.js', v=9) }}"></script>
{% endblock %}
