{% extends "base.html" %}
{% block content %}
<div class="container">
<h2>Upload Prerecorded Playlist</h2>

<p>Create a playlist using Clementine on one of the station computers, save it
as .m3u, and then upload it here.</p>

<p>Note that all files referenced in the playlist must be on the WUVT file
server; you won't be able to generate playlists on your own computer and use
them here.</p>

<form method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <div class="form-group row{% if form.date.errors|length > 0 %} has-error{% endif %}">
        {{ form.date.label(class_="col-sm-3 col-form-label control-label") }}
        <div class="col-sm-9">
            {{ form.date }}
{% for error in form.date.errors %}
            <div class="help-block">{{ error }}</div>
{% endfor %}
        </div>
    </div>

    <div class="form-group row{% if form.slot.errors|length > 0 %} has-error{% endif %}">
        {{ form.slot.label(class_="col-sm-3 col-form-label control-label") }}
        <div class="col-sm-9">
            {{ form.slot }}
{% for error in form.slot.errors %}
            <div class="help-block">{{ error }}</div>
{% endfor %}
        </div>
    </div>

    <div class="form-group row{% if form.dj_id.errors|length > 0 %} has-error{% endif %}">
        {{ form.dj_id.label(class_="col-sm-3 col-form-label control-label") }}
        <div class="col-sm-9">
            {{ form.dj_id }}
{% for error in form.dj_id.errors %}
            <div class="help-block">{{ error }}</div>
{% endfor %}
        </div>
    </div>

    <div class="form-group row{% if form.playlist.errors|length > 0 %} has-error{% endif %}">
        {{ form.playlist.label(class_="col-sm-3 col-form-label control-label") }}
        <div class="col-sm-9">
            {{ form.playlist }}
{% for error in form.playlist.errors %}
            <div class="help-block">{{ error }}</div>
{% endfor %}
        </div>
    </div>

    <div class="form-group row form-check">
        {{ form.overwrite(class_="form-check-input") }}
        {{ form.overwrite.label(class_="form-check-label") }}
    </div>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">
            Upload
        </button>
    </div>
</form>
</div>
{% endblock %}
